@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/ttf/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/roboto/ttf/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/ttf/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto/ttf/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto/ttf/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/roboto/ttf/Roboto-Thin.ttf") format("truetype");
}
